@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	background: linear-gradient(180deg, #318784 16.67%, #E2E2DF 100%);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0 10px;

}

.regis{
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  padding: 30px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);

}

.regis .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #3A3A3A;
  text-transform: uppercase;
  text-align: center;

}

.regis .form{
  width: 100%;
}

.regis .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.regis .form .inputfield label{
   width: 200px;
   color: #253100;
   margin-right: 10px;
  font-size: 14px;

}

.regis .form .inputfield .input,
.regis .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #253100;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;

}

.regis .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;

}

.regis .form .inputfield .input:focus,
.regis .form .inputfield .textarea:focus,
.regis .form .inputfield .custom_select select:focus{
  border: 1px solid #253100;

}

.regis .form .inputfield p{
   font-size: 12px;
   color: #757575;

}

.regis .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;

}

.regis .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

}

.regis .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #253100;
  display: block;
  position: relative;

}

.regis .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;

}

.regis .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #253100;

}

.regis .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;

}

.regis .form .inputfield .btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  border-radius: 21px;
  background:  #318784;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 6px;
  outline: none;
  transition: 0.3s;
  letter-spacing: 2px;

}

.regis .form .inputfield .btn:hover{
  background: #AE0101;

}

.regis .form .inputfield:last-child{
  margin-bottom: 0;

}


@media (max-width:420px) {
  .regis .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .regis .form .inputfield label{
    margin-bottom: 5px;
  }
  .regis .form .inputfield.terms{
    flex-direction: row;
  }
}


